#Ignore all
/*
/*/

#ИInverse ignore
!/Assets/
!/ProjectSettings/
!/Packages/
!.gitignore
!/.github/

#os files
.DS_Store
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
$RECYCLE.BIN/
Desktop.ini

#allowed folders

